<nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
  <div class="container">
    <div class="mx-auto text-center d-block">
      <a class="navbar-brand col-12 me-2" href="/">
        <span class="small">Spy Game</span>
      </a>
      <span class="d-inline small me-2">by</span>
      <a href="https://apps.arxalex.co/">
        <img class="d-inline" height="25px" src="./assets/arxlogo.svg">
      </a>
    </div>
    <i (click)="userPopupVisible = true" class="bi bi-person-fill"></i>
  </div>
</nav>
<app-user-popup *ngIf="userPopupVisible" (closeEvent)="userPopupVisible = false"></app-user-popup>
